Requirements:
    (1) The user should be able to select a constituency to see photos of 
        candidates and to create .txt files which they can fill with 
        whatever notes they choose relating to that constituency.
    (2) Constituency should rander as a solid block of colour corresponding to 
        the party which currently holds the seat.
    (3) If the user mouses over a constituency, they should see a histogram 
        representing the most recent general-election results for that 
        constituency.
    (4) The user should be able to edit the data to create their own 
        personal political fantasy worlds. This probably means having several 
        different data sources on disk and allowing the model to draw on any 
        one of them (perhaps via a load method that takes a path to an 
        on-disk database or something). The real-world disk database should be 
        able to refresh itself by scraping web data (if this web-scraping task
        isn't too annoying to implement).
    (5) The user shoud be able to draw a moustache (or whatever) on the display photo of 
        any politician.
